@model Getfund.Models.ShowDetails
@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://kit.fontawesome.com/0709430f83.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/details.css" rel="stylesheet" type="text/css" />


</head>

<h2>Details</h2>

<div class="card-wrapper">
    <div class="card">
        <!-- card left -->
        <div class="product-imgs">
            <div class="img-display">
                <div class="img-showcase">
                    <img src="~/images/p1.jpg" alt=" image">
                    <img src="~/images/p2.jpg" alt=" image">
                    <img src="~/images/p3.gif" alt=" image">
                    <img src="~/images/p1.jpg" alt=" image">
                </div>
            </div>
            <div class="img-select">
                <div class="img-item">
                    <a href="#" data-id="1">
                        <img src="~/images/p1.jpg" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="2">
                        <img src="~/images/p2.jpg" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="3">
                        <img src="~/images/p3.jpg" alt=" image">
                    </a>
                </div>
                <div class="img-item">
                    <a href="#" data-id="4">
                        <img src="~/images/p1.jpg" alt=" image">
                    </a>
                </div>
            </div>
            <div>

                <p class="Comments-head">Words Of Appreciation</p>
                <div class="Comments-wrapper">
                    <i class="fas fa-comment comments-icon"></i>
<<<<<<< HEAD
                    <text class="Commenter-name">@Model.Name</text>
=======
                    <text class="Commenter-name">Napi Chan</text>
>>>>>>> 8bf4967bdd5b9e1bef8395bc4305d8036c8f1feb
                    <p class="Comments">onek onek shundor hoise</p>
                </div>
            </div>
        </div>
        <!-- card right -->
        <div class="product-content">
<<<<<<< HEAD
            <h2 class="product-title">@Model.Title</h2>
=======
            <h2 class="product-title">Bloodfriend</h2>
>>>>>>> 8bf4967bdd5b9e1bef8395bc4305d8036c8f1feb

            <div class="heart-btn">
                <div class="content">
                    <span class="heart"></span>
                    <span class="text">❤️ Like</span>
                    <span class="numb"></span>
                </div>
            </div>
            <div class="product-price">
<<<<<<< HEAD
                <p class="last-price">Goal: <span>@Model.Target</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated pgbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
                <p class="new-price">Raised: <span>@Model.MoneyRaised</span></p>
=======
                <p class="last-price">Goal: <span>$949000.00</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated pgbar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
                <p class="new-price">Raised: <span>$52010.00</span></p>
>>>>>>> 8bf4967bdd5b9e1bef8395bc4305d8036c8f1feb
            </div>

            <div class="product-detail">
                <h2>about this Project: </h2>
<<<<<<< HEAD
                <p>@Model.Info</p>
                
                <ul>
                    <li>Location: <span>@Model.Address</span></li>
                    <li>Availability: <span>Raising Fund</span></li>
                    <li>Category: <span>@Model.Target</span></li>
                    <li>Donations From: <span>All over the world</span></li>
                    
=======
                <p>Bloodfriend is a Bangladeshi born blood donation focused social networking platform, aimed to connect, empower, and activate society to fight 'Scarcity for Blood' and make it a past. This is the world’s First Blood Donor-focused global social networking platform where one can connect with people of the same blood group and blood donors very easily and efficiently.</p>
                <p>Bloodfriend is a Bangladeshi born blood donation focused social networking platform, aimed to connect, empower, and activate society to fight 'Scarcity for Blood' and make it a past. This is the world’s First Blood Donor-focused global social networking platfo.</p>
                <ul>
                    <li>Location: <span>Bangladesh</span></li>
                    <li>Availability: <span>Raising Fund</span></li>
                    <li>Category: <span>Social networking</span></li>
                    <li>Donations From: <span>All over the world</span></li>
                    <li>Shipping Fee: <span>Free</span></li>
>>>>>>> 8bf4967bdd5b9e1bef8395bc4305d8036c8f1feb
                </ul>
            </div>

            <div class="purchase-info">

                <input type="number" min="10" value="10">
                <button type="button" class="btn">
                    Donate <i class="far fa-credit-card"></i>
                </button>

            </div>

            <div class="social-links">
                <p>Share At: </p>
                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa fa-whatsapp"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
<<<<<<< HEAD

    </div>


=======
        
    </div>

    
>>>>>>> 8bf4967bdd5b9e1bef8395bc4305d8036c8f1feb
</div>

<script src="~/Scripts/script.js"></script>