@model Getfund.Models.ProfileShow
@{
    ViewBag.Title = "Post";
}

<head>

    <link rel="stylesheet" href="~/Content/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>


    <main>
        <div class="box">
            <div class="inner-box">

                <!--File Upload Start-->
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    @using (Html.BeginForm("UploadFiles", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" } })
                                    @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Upload" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 text-success">
                                    @ViewBag.FileStatus
                                    @ViewBag.FilePath
                                </div>
                            </div>
                        </div>
                    }<!--File Upload End-->
                    <!--File Upload All Data Post Start-->
                    <form action="/Home/PostProject" autocomplete="on" class="sign-in-form" method="post">

                        <h3 class="mb-4">Post Details</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input type="text" class="form-control" value="@Session["UsernameSS"]">
                                    
                                    <input type="hidden" name="ID" id="ID" class="form-control" value="@Session["IdUsSS"]">
                                    <input type="hidden" name="VideoLink" id="VideoLink" class="form-control" value="@ViewBag.FileStatus">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Title</label>

                                    <input type="text" name="Title" id="Title" class="form-control" value="" title="Project Name here">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fund Raise Goal</label>
                                    <input type="number" name="Target" id="Target" class="form-control" value="Model.Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Category</label>
                                    <input type="text" name="Type" id="Type" class="form-control" value="Software developer">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Details</label>
                                    <textarea class="form-control" name="Info" id="Info" rows="4">Description about the user will be here.</textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Upload Data" class="btn" />
                        </div>
                    </form>
                    <!--File Upload All Data Post End-->
                    <div>
                        <form action="/Home/Search" autocomplete="on" class="sign-in-form">
                            <input type="submit" value="Cancel" class="btn" />
                        </form>

                    </div>
                </div>



            </div>
        </div>

    </main>

    <script src="~/Scripts/post.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

